---
import { getCollection } from "astro:content";
import Layout from "../../layouts/default.astro";
import Header from "../../components/Header.astro";
import BlogCard from "../../components/BlogCard.astro";

export async function getStaticPaths() {
    const entries = await getCollection("blog");

    return entries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
    title={`${entry.data.title} | 39sho.dev`}
    description={entry.data.summary}
>
    <Header />
    <div class="w-full max-w-2xl">
        <BlogCard
            link={`/blog/${entry.slug}`}
            title={entry.data.title}
            summary={entry.data.summary}
        />
    </div>
    <div
        class="prose p-4 w-full max-w-2xl bg-neutral-100 border-2 border-neutral-200"
    >
        <Content />
    </div>
</Layout>
