---
interface TocLink {
    id: string;
    text: string;
    depth: number;
    children?: TocLink[];
}

interface Props {
    toc: {
        title?: string;
        depth?: number;
        searchDepth?: number;
        links?: TocLink[];
    };
}

const genHash = (n: number) =>
    [...Array(n).fill("#"), ...Array(5 - n).fill(" ")].join("");

const { toc } = Astro.props;
const links = toc?.links ?? [];
---

<details class="p-2 border-2 border-neutral-200 rounded-lg w-fit">
    <summary>目次</summary>
    <nav class="p-4">
        <ol class="flex flex-col gap-1">
            {
                links.map((link) => (
                    <li>
                        <a href={`#${link.id}`} class="flex">
                            <span class="block w-12 flex-shrink-0">
                                {genHash(link.depth)}
                            </span>
                            {link.text}
                        </a>
                        {link.children && link.children.length > 0 && (
                            <ol class="flex flex-col gap-1 ml-4">
                                {link.children.map((child) => (
                                    <li>
                                        <a href={`#${child.id}`} class="flex">
                                            <span class="block w-12 flex-shrink-0">
                                                {genHash(child.depth)}
                                            </span>
                                            {child.text}
                                        </a>
                                    </li>
                                ))}
                            </ol>
                        )}
                    </li>
                ))
            }
        </ol>
    </nav>
</details>
